//ColorScheme https://colorscheme.ru/#3v21TukrG7kKJ

$pallete-primary-dark: #0F5C8D;
$pallete-primary: #64B0E2;
$pallete-primary-light: #A0C8E2;
$pallete-secondary: #DD800C;
$pallete-secondary-light: #f7c589;

$pallete-fonts: #eee8e8;
$pallete-fonts--dark: #3b3737;





