
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&family=PT+Sans&family=Playfair+Display:ital@1&display=swap');

//font-family: 'Montserrat', sans-serif; -->> заголовки 700 400 100
//font-family: 'Playfair Display', serif; -->> курсив 400
//font-family: 'PT Sans', sans-serif; -->> основной 400


*{
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
}

.paragraph__cursive{
    font-family: 'Playfair Display', serif;
    font-size: 18px;
}