//import files
@import '_fonts.scss';
@import '_color.scss';
@import '_nullstyle.scss';

//header
.header {
    &__body {
        background: url(../media/beverages-2914497_1920.jpg) no-repeat;
        background-size: cover;
        height: 100vh;
        text-align: center;
        &--mask{
            background-color: #d8ced6c7;
            background-size: cover;
            height: 100vh;
        }
    }

    &__logo {
        width: 250px;
        padding: 15px;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
    }

    &__top {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
    }

    &__text {
        font-size: 18px;
        color: white;
        text-align: left;
        &--number {
            font-size: 24px;
        }
        &--green{
            color: rgb(77, 104, 77);
        }


    }

    &__fa-phone {
        rotate: 90deg;
    }

    &__items {
        margin: 5px;

        &--left {
            border-left: 2px solid white;
            padding-left: 10px;
        }

        &--right {
            font-size: 12x;
            color: grey;
        }
    }

    &__center {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;

        &--left {
            max-width: 75%;
            flex-direction: column;
            text-align: left;
            align-items: flex-start;
            margin-bottom: 45px;
        }

        &--img {
            max-height: 80vh;
        }

        &>h1 {
            font-size: 56px;
            font-family: Lato;
        }

        &>h3 {
            font-size: 36px;
            font-style: italic;
        }

        &>h6 {
            font-size: 24px;
            font-style: italic;
            color: rgb(255, 255, 255);
        }

        &>.header__text {
            padding: 10px;
        }

        &--leftblock{
            margin-right: 250px;            
        }
    }

    &__btn {
        text-transform: uppercase;
        font-size: 24px;
        font-weight: bold;
        color: white;
        padding: 15px;
        border: none;
        border-radius: 10px;
        background-color: #4141f1;
        box-shadow: 0px 7px 0px #15159D;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        position: relative;
        margin: 25px auto 25px 10px;
    }

    &__btn:hover {
        box-shadow: 0px 5px 0px #15159D;
        top: 2px;
        background-color: #4141f1;
        opacity: 0.9;
    }

    &__btn:focus {
        box-shadow: 0px 3px 0px #15159D;
        top: 4px;
        opacity: 0.95;
    }
}

//.fa {}

//.fa-phone {}

.container {
    width: 1200px;
    margin: 0 auto;
}

.bg__mask {
    background-color: #72666656;
    border-radius: 15px;
    padding: 10px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.bg__shadow {
    box-shadow: 0px 0px 10px #dcdcdf80;
}