//import files
@import '_fonts.scss';
@import '_color.scss';
@import '_nullstyle.scss';

*{
    color: $pallete-fonts;
}

.view {
    background: url("../media/beverages-2914497_1920.jpg")no-repeat center center;
    background-size: cover;
}

.view__block {
    background: rgba(0, 0, 0, 0.281);
    margin-top: 90px;
    padding: 50px;
    box-shadow: 0px 0px 15px #d4cece;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
}

.navbar {
    background-color: transparent;    
}

.navbar-text--left{
    border-left: 2px solid rgba(255,255,255,.5);
    padding-left: 15px;
}

.top-nav-collapse {
    background-color: $pallete-primary-dark;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: $pallete-primary-dark;
    }
}

html,
body,
header,
.view {
  height: 100%;
}