//import files
@import '_fonts.scss';
@import '_color.scss';
@import '_nullstyle.scss';

*{
    color: $pallete-fonts--dark;
}



.view {
    background: url("../media/bg-6.jpg")no-repeat center center;
    background-size: cover;
}

.view__block {
    background: rgba(104, 117, 128, 0.726);
    margin-top: 90px;
    padding: 50px;
    box-shadow: 0px 0px 15px #d4cece;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    & h1{
        font-size: 36px;
    }
    @media only screen
    and (min-device-width: 374px)
    and (max-device-width: 766px) {
        margin-top: 300px;
        & h1{
            font-size: 22px;
        }
    }
    
}



.navbar {
    background-color: transparent;    
}

.navbar-text--left{
    border-left: 2px solid rgba(255,255,255,.5);
    padding-left: 15px;
}

.top-nav-collapse {
    background-color: $pallete-primary-dark;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: $pallete-primary-dark;
    }
}

html,
body,
header,
.view {
  height: 100%;
}

//header

.img__header--center {
    height: 60vh;
    margin: 0 auto;
    position: relative;
    top: 120px;
    right: -250px;
    @media only screen
    and (min-device-width: 374px)
    and (max-device-width: 766px) {
        left: 150px;
        top: -120px;
        position: fixed;
    }
}